.btn {
    border-radius: var(--roundedJumbo);
}
.btn-main-page {
    padding: var(--spaceLG);
    margin-bottom: var(--spaceLG);
}
.paginate_button.page-item {
    margin-right: var(--spaceXXSM) !important;
}
.btn-page, .paginate_button a {
    color: var(--primaryColor);
    margin-right: calc(var(--spaceMini)*0.25) !important;
}
.btn-page:hover, .btn-page.active, .page-item.active .page-link, .page-item:hover .page-link{
    color: var(--whiteColor);
    border-radius: var(--roundedMD) !important;
}
.btn-page:hover, .page-item:hover .page-link{
    background: var(--thirdColor);
    color: var(--primaryColor);
}
.page-item.active:hover a, .btn-page.active:hover {
    color: var(--whiteColor) !important;
}
.btn-page.active, .page-item.active .page-link {
    background: var(--primaryColor);
}
.paginate_button a{
    border: none !important;
}
.btn-link {
    color: var(--successBG) !important;
    padding: var(--spaceXXSM);
    border: 2px solid var(--successBG);
    text-decoration: none;
    width: 100%;
    margin-top: var(--spaceXXSM);
}
.btn-collapse {
    border: 2px solid black;
    border-radius: var(--roundedLG);
    padding: var(--spaceMD);
    text-align: start;
    margin-bottom: var(--spaceLG);
    width: 100%;
}
.btn-tag {
    border-radius: var(--roundedLG);
    background: var(--primaryColor);
    color: var(--whiteColor);
    font-size: var(--textLG);
    padding: var(--spaceMini) var(--spaceMD);
}
.btn-socmed {
    border: 2px solid black;
    border-radius: 100%;
    font-size: var(--textJumbo);
    padding: var(--spaceMD) var(--spaceXMD);
}
.btn-account-attach {
    font-weight: 500;
    color: var(--blackColor);
    text-decoration: none;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    padding: var(--spaceXXSM) var(--spaceXSM);
    border: 0;
    border-radius: var(--spaceMD);
}
.btn-account-attach:hover {
    color: var(--whiteColor);
    background: var(--primaryColor);
}
.btn-light {
    background: var(--whiteColor);
    border: 2px solid var(--primaryColor) !important;
}