/* Popup Card */
.place-popup {
    padding: var(--spaceLG);
    background: white;
}
.place-popup .popup-info p {
    margin: 0;
    font-weight: 600;
}
.place-popup h3 {
    font-size: var(--textJumbo);
    margin-bottom: 0 !important;
    color: var(--primaryColor);
    font-weight: 800;
}
.place-popup hr {
    margin: var(--spaceMD) 0;
    border-color: #e5e7eb;
}

/* Popup Information */
.popup-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: var(--spaceSM);
}
.popup-info span {
    font-size: var(--textMD);
    font-weight: 600;
    color: #94a3b8;
}

.leaflet-popup-close-button {
    padding: var(--spaceMini);
    color: var(--whiteColor) !important;
    border-radius: var(--roundedMD);
    height: 36px !important;
    width: 36px !important;
    background: var(--dangerBG) !important;
    position: absolute !important;
    top: -12.5px !important;
    right: -12.5px !important;
}
.leaflet-popup-close-button:hover {
    transform: scale(1.15);
}

/* Leaflet Popup */
.leaflet-popup-content-wrapper {
    border-radius: 32px;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 12px 40px rgba(0,0,0,.18);
}
.leaflet-popup-content {
    margin: 0 !important;
    width: 420px !important;
}
.leaflet-popup-tip {
    box-shadow: none;
}