#map-board {
    height:50vh;
    border-radius: var(--roundedLG);
    margin-bottom: var(--spaceXXSM);
}

/* Maps Dialog */
.gm-ui-hover-effect {
    background: black !important;
    border-radius: 100%;
    position: absolute !important;
    right: 6px !important;
    top: 6px !important;
}
.gm-ui-hover-effect span {
    color: white !important;
}
.gm-control-active {
    background: black !important;
    border: 1.75px solid white !important;
    border-radius: 10px !important;
    margin-bottom: 10px !important;
}
.gmnoprint div{
    background: transparent !important;
    box-shadow: none !important;
}
.gm-control-active span {
    background: white !important;
}