.pin-box {
    width: 100%;
    border: 2.5px solid black;
    padding: var(--spaceMD);
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
}
.pin-box:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.pin-box .pin-box-label, .pin-tag {
    background: var(--primaryColor);
    color: var(--whiteColor) !important;
    padding: var(--spaceXXSM) var(--spaceSM);
    font-size: var(--textMD);
    font-weight: 500;
    display: inline-block;
    border-radius: var(--roundedMD);
}
.pin-tag {
    cursor: pointer;
}
.list-pin-desc {
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 5; 
    line-clamp: 5; 
    -webkit-box-orient: vertical;
}
#map-category {
    height:65vh;
    border-radius: 20px;
    margin-bottom: 6px;
    border: 5px solid black;
}